.cell {
   height: 0.8rem;
   min-width: 0.8rem;
   display: table-cell;
   border: 1.5px solid black;
   transition: background-color 0.4s;

   &.alive {
      background: white;
   }

   &.dead {
      background: #1d2024;

      &:hover {
         background: #4e565e;
      }
   }

   &:hover {
      cursor: pointer;
   }
}
