.cell {
   height: 0.8rem;
   min-width: 0.8rem;
   display: table-cell;
   border: 1.5px solid black;
   transition: background-color 0.1s linear;

   &.alive {
      background: white;
   }

   &.dead {
      background: #1d2024;

      &:hover {
         background: #4e565e;
      }
   }

   &:hover {
      cursor: pointer;
      // If background is set, there is unwanted effect, when clicking on cell, the cell next to it blinks for a moment!
      // (trackBy fixes it) Also fixes the transition that otherwise didn't applied!
   }
}
