<h1><span>Conway's </span>Game of Life</h1>

<div class="actions">
  <button mat-ripple mat-raised-button color="warn" (click)="reset()">
    <i class="material-icons">stop</i>
    RESET
  </button>

  <button mat-ripple mat-raised-button (click)="randomize()">
    <i class="material-icons">auto_fix_high</i>
    RANDOMIZE
  </button>

  <button mat-ripple mat-raised-button color="primary" [disabled]="evolving" (click)="next()">
    <i class="material-icons">skip_next</i>
    NEXT
  </button>

  <button mat-ripple mat-raised-button color="primary" [disabled]="evolving" (click)="auto()">
    <i class="material-icons">play_circle_outline</i>
    AUTO
  </button>
</div>


<form [formGroup]="form" (ngSubmit)="setRatio()">
  <mat-form-field appearance="outline">
    <mat-label>BOARD RATIO</mat-label>
    <input formControlName="ratio" matInput type="number"/>
  </mat-form-field>
  <button type="submit" at-ripple mat-raised-button color="accent">SET RATIO</button>
</form>

<app-board (evolving)="onEvolve($event)" [gridSize]="ratio"></app-board>
